[% USE raw %]
[% USE Asset %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% FILTER collapse %]
    [% IF ( page ) %]
        [% page.title | html %]
    [% ELSE %]
        [% t("Page error") | html %]
    [% END %] &rsaquo;
    [% t("Tools") | html %] &rsaquo;
    [% t("Koha") | html %]
[% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="tools_page_[% page.idnew | html %]" class="tools">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            [% IF page %]
                [% page.title | html %]
            [% ELSE %]
                <span>Page error</span>
            [% END %]
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

    <div class="main container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-push-2">
                <main>

                    [% IF page %]

                    <h1>[% page.title | html %]</h1>

                    <div class="page">
                        [% page.content | $raw %]
                    </div>

                    [% ELSE %]

                    <div class="dialog alert">
                        This page does not exist.
                    </div>

                    [% END %]

                </main>
            </div> <!-- /.col-sm-10.col-sm-push-2 -->

            <div class="col-sm-2 col-sm-pull-10">
                <aside>
                    [% INCLUDE 'tools-menu.inc' %]
                </aside>
            </div> <!-- /.col-sm-2.col-sm-pull-10 -->
        </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/tools-menu.js") | $raw %]
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
