[% USE raw %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% FILTER collapse %]
    [% t("UNIMARC field 700-4 builder") | html %]
    [% t("Cataloging") | html %] &rsaquo;
    [% t("Koha") | html %]
[% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="cat_unimarc_field_700-4" class="cat value_builder">
    <h1>UNIMARC field 700-4 builder</h1>
    <p>Sélectionnez la valeur pour le champ 700 $4. Elle sera automatiquement reportée dans la zone 700 $8 qui suit.</p>
    <form name="f_pop" onsubmit="report()" action="">
        <div class="page-section">
            <table>
                <tr>
                    <td><label for="f1">Code date publication </label></td><td><select name="f1" id="f1">
                            [% IF ( f1_075 ) %]
                                <option value="075 - postface" selected="selected">postface</option>
                            [% ELSE %]
                                <option value="075 - postface">postface</option>
                            [% END %]

                            [% IF ( f1_651 ) %]
                                <option value="651 - dir. de publication" selected="selected">dir. de publication</option>
                            [% ELSE %]
                                <option value="651 - dir. de publication">dir. de publication</option>
                            [% END %]

                            [% IF ( f1_440 ) %]
                                <option value="440 - illustrateur" selected="selected">illustrateur</option>
                            [% ELSE %]
                                <option value="440 - illustrateur">illustrateur</option>
                            [% END %]

                            [% IF ( f1_080 ) %]
                                <option value="080 - préface, notes" selected="selected">préface, notes</option>
                            [% ELSE %]
                                <option value="080 - préface, notes">préface, notes</option>
                            [% END %]

                            [% IF ( f1_730 ) %]
                                <option value="730 - traducteur" selected="selected">traducteur</option>
                            [% ELSE %]
                                <option value="730 - traducteur">traducteur</option>
                            [% END %]
                        </select>
                    </td>
                </tr>
            </table>
        </div> <!-- /.page-section -->

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <fieldset class="action">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button class="btn btn-default close_window">Cancel</button>
                </fieldset>
            </div>
        </nav>

    </form>

[% MACRO jsinclude BLOCK %]
    <script>
        function report() {
            x = document.f_pop.f1.value.split(' - ');
            var doc   = opener.document;
            var field = doc.getElementById("[% index | html %]");

            field.value =  x[0];
            if ([% index2 | html %] > 0) {
                opener.document.f.field_value[[% index2 | html %]].value= x[1];
            }
            self.close();
            return false;
        }
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' popup_window=1 %]
